# Editors
*.sublime-*
.idea
*.xlsx

# Third-Party
/vendor
.env
/.history
.phpunit*
# Config
.env*
!.env.example


# System Files
.DS_Store
Thumbs.db


# Temporary Files
/var/**/*.*


#
# Legacy Stuff
#


# Include directories with .gitkeep
!.gitkeep
